* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.web_title {
    font-family: 'Noteworthy-Bold';
}

.personal_description {
    margin-top: 3%;
    font-family: 'Montserrat';
    font-size: 2em;
    text-align: justify;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 650px) {
    .personal_description {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 425px) {
    .personal_description {
        font-size: 1em;
    }
}