.worklist {
    background-color: rgba(119, 192, 255, 0.694);
}

/* index.html */

.no-bullets {
    list-style-type: none;
}

#profile {
    width: 250px;
    height: 230px;
    border-style: solid;
    border-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#skills_topic {
    margin-top: 3%;
}

.skills {
    width: 300px;
    height: 330px;
    background-color: #112B3F;
    display: block;
    margin-top: 5vh;
}

.skills_name {
    margin-top: 5vh;
    color: CCC95D;
    font-family: 'DotGothic16', sans-serif;
    font-size: 2em;
}

.skills_picture {
    width: 300px;
    height: 170px;
}

/* work_pic.html */

.pic_page_title {
    color: white;
    font-family: 'DotGothic16', sans-serif;
    font-size: 2.5em;
    text-align: center;
}

.border_pic_page_title {
    border-style: dashed;
    color: white;
    border-radius: 3px;
    display: block;
    width: 250px;
    height: 230px;
}

.spacing {
    margin-top: 10vh;
}

.self_intro {
    color: white;
    font-family: 'DotGothic16', sans-serif;
    font-size: 2em;
    width: 90%;
    margin-top: 20px;
    text-align:justify;
    margin-left: auto;
    margin-right: auto;
}

.self_intro_border {
    border-style: solid;
    border-radius: 15px;
    color: white;
    display: block;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.insta_wood_background {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media only screen and (max-width: 991px) {
    #pic_page_profile {
        margin-top: 10vh;
    }
}

@media only screen and (max-width: 767px) {
    #pic_page_profile {
        margin-top: 10vh;
    }
    .border_pic_page_title#title_2 {
        margin-top: 10vh;
    }
}